@charset "utf-8";

#contactus{ font-family:'Noto Sans KR', 'sans-serif' !important; }
#contactus fieldset { width:100%; margin:0 auto; padding:0; box-sizing:border-box; }
#contactus legend, h2 { font-family : Arial, sans-serif; font-size: 2em; font-weight:bold; color:#333; text-transform:uppercase; }

/*#contactus label { margin:0 5px; font-family : 'Noto Sans KR', Tahoma, 'Trebuchet MS', Arial, sans-serif !important; font-size:14px; text-transform:uppercase; color:#555;}
#contactus input[type="text"], textarea { font-family : 'Noto Sans KR', 'sans-serif', Arial, Verdana, sans-serif !important; font-size: 16px; line-height:140%; color : #333; padding :10px; border : none; box-sizing:border-box; background-color:rgba(255,255,255,0.75); background-color:#efefef; border:1px solid #ccc; }
#contactus input[type="text"] { width:100%; }*/
#contactus textarea{ resize: vertical; }

/*#contactus input:focus { font-family:'Noto Sans KR', sans-serif !important; color : #333; border : 1px solid #ccc; background-color : #eee;}
#contactus textarea:focus { color : #333; border : 1px solid #ccc; background-color : #fcfcf4;}*/

/*#contactus .form_container { margin-bottom:20px; text-align:left;}
#contactus .form_container:last-child{ margin-bottom:0; }
#contactus .short_explanation{ font-family : Arial, sans-serif; font-size: 0.9em; color:#fff;}*/

/*@media (max-width:700px){
	#contactus input[type="text"], textarea{ font-size:14px; }
	#contactus .form_container{ margin-bottom:10px; }
}*/
 

.form_title{ font-size:24px; font-weight:600; color:#333; text-align:center; padding:20px 0; margin:0; }
.agree_txt{ border:1px solid #ddd; font-size:15px; font-weight:300; color:#666; background-color:#fdfdfd; padding:10px; }
.agree_chk_wrap{ padding:20px; display:flex; justify-content:center; align-items:center; }
#agree_chk{ display:none; cursor:pointer; }
#agree_chk + label.agree_chk{ width:17px; height:17px; border:1px solid #ddd; margin-right:10px; position:relative; }
#agree_chk + label.agree_chk:after{ content: ''; width: 14px; height: 7px; border-left: 3px solid #be0038; border-bottom: 3px solid #be0038; position: absolute; top: 0; left: 0; transform: rotate(-49deg); opacity:0; }
#agree_chk:checked + label.agree_chk:after{ opacity:1; }
#agree_chk + label.agree_chk + label{ font-size:16px; font-weight:300; color:#777; }


#contactus .form_table{ display:table; border-collapse:collapse; width:100%; margin-bottom:40px; box-sizing:border-box; }
#contactus .form_table .form_tr{ display:table-row; width:100%; }
#contactus .form_table .form_tr .form_th, #contactus .form_table .form_tr .form_td{ display:table-cell; padding:12px 20px; border:1px solid #ddd; vertical-align:middle; }
#contactus .form_table .form_tr .form_th{ width:20%; min-width:140px; text-align:center; background-color:#f5f5f5; font-size:16px; font-weight:300; color:#333; }
#contactus .form_table .form_tr .form_td{ width:80%; }
#contactus input[type="text"], #contactus textarea{ border:1px solid #ddd; padding:10px; box-sizing:border-box; }
#contactus input[type="text"]{ max-width:400px; width:100%; }
select.phone{ border:1px solid #ddd; padding:10px; box-sizing:border-box; max-width:126px; width:calc(33.33333333% - 7px); }
#contactus input[type="text"].phone{ max-width:126px; width:calc(33.33333333% - 7px); }

#contactus input[type="text"].mail{ max-width:190px; width:calc(50% - 9px); }
#contactus textarea{ width:100%; height:100px !important; }

#contactus .form_table .form_tr .form_td .radio_wrap{ display:flex; margin:0; padding:0; list-style:none; }
#contactus .form_table .form_tr .form_td .radio_wrap li{ padding-right:20px; display:flex; align-items:center; }
#contactus .form_table .form_tr .form_td .radio_wrap li input[type="radio"]{ display:none; cursor:pointer; }
#contactus .form_table .form_tr .form_td .radio_wrap li input[type="radio"] + label.chk{ width:10px; height:10px; border-radius:100%; border:1px solid #ddd; margin-right:5px; cursor:pointer; }
#contactus .form_table .form_tr .form_td .radio_wrap li input[type="radio"]:checked + label.chk{ border-color:#be0038; background-color:#be0038; }
#contactus .form_table .form_tr .form_td .radio_wrap li input[type="radio"] + label.chk + label{ font-size:15px; font-weight:400; color:#333; cursor:pointer; }

#contactus .submit_warn{ text-align:center; margin-bottom:15px; color:#777; font-size:14px; }
#contactus .submit_btn_wrap{ text-align:center; }
#contactus .submit_btn_wrap input#submit_btn{ font-size: 16px; font-weight: 400; background-color:#cb4507; color:#fff; padding:13px 65px; transition-duration:0.4s; border:none; cursor:pointer; border-radius:5px;}
#contactus .submit_btn_wrap input#submit_btn:hover{ background-color:#333 }


@media(max-width:500px){
	#contactus .form_table .form_tr{ display:block; margin-bottom:20px; }
	#contactus .form_table .form_tr .form_th, #contactus .form_table .form_tr .form_td{ display:block; width:100%; }
	#contactus .form_table .form_tr .form_td{ margin-top:-1px; }
	.radio_wrap{ justify-content:center; }
}